body{ 
background: #F7F5EB;
color: ##1A0000;
font-family: 'Lora', serif;
font-size: 17px;
font-weight: lighter;
 }
 h1, h2, h3 {font-family: 'Roboto', sans-serif;}
h1 {
	color:  #567189;
	
	font-weight: 900;
	letter-spacing: 5px;
	font-size: 40px;
}
{h2
color: #434242;

font-size: 20px;
font-weight: lighter;
font-weight: 500;
}

a{text-decoration: none;
	font-family: 'Roboto', sans-serif;
color: #A0C3D2;
font-weight: 600
font-size: 16px }

a:hover {
	color: black;
}
/* Custom design with class */
.container {
	width: 700px;
	margin: 40px auto;
	text-align: center;
}
@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, .1);
	border-radius: 4px;
	margin: 20px;
	text-align: centre;
}

.img-circle {
	border-radius: 50%;
}
.btn-blue {
	background-color: #A0C3D2;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}
.btn-blue:hover {
	background-color: black;
	color: white;
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
 font-size: 50px;
 color: darkgrey;

}
.list-inline i:hover {
  color: black;

}
/* Design adjstment using id */
#introduction p {
	margin-bottom: 40px;

}
